<div class="bg-container">
    <div class="login-container">
        <h3>Login Form</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username" [(ngModel)]="user.username" required/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input 
                    *ngIf="!showPassword; else showPasswordInput"
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                    [(ngModel)]="user.password"
                    required
                />
                <ng-template #showPasswordInput>
                    <input
                        *ngIf="showPassword"
                        type="text"
                        id="password"
                        name="password"
                        placeholder="Enter password"
                        [(ngModel)]="user.password"
                        required
                    />
                </ng-template>
            </div>
            <div class="form-group show-password">
                <input
                    type="checkbox"
                    id="showPassword"
                    name="showPassword"
                    [(ngModel)]="showPassword"
                />
                <label class="checkbox-label" for="showPassword">Show password</label>
            </div>
            <div class="error-message" *ngIf="errorMessage" style="color: red">{{ errorMessage }}</div>
            <div>
                <button type="submit">Login</button>
            </div>
            <div class="question">
                Don't have any account? <a routerLink="/register">Register</a>
            </div>
        </form>
    </div>
</div>
