.bg-container {
    width: 100%;
    height: 100vh; /* Set tinggi container sesuai tinggi viewport */
    margin: auto;
    background-image: url('https://wallpaperaccess.com/full/181658.jpg'); /* Ganti dengan path gambar background */
    background-size: cover; /* Memastikan gambar background menutupi keseluruhan container */
    background-position: center; /* Menyusun posisi gambar background di tengah container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 300px;
    margin: auto;
    /* margin-right: 30vw; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgba(249, 249, 249, 0.6); /* Mengatur transparansi dengan nilai alpha 0.6 */
}

h3 {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.6);
}

.form-group.show-password {
    display: flex;
    align-items: center;
}

.checkbox-label {
    margin-left: 10px;
    font-weight: 500;
    user-select: none; /* Ini menghilangkan seleksi teks pada label */
}

button {
    /*background-color: #007bff;*/
    background-color: rgba(0, 123, 255, 0.7);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.question {
    font-weight: 600;
}
