<div class="bg-container">
    <div class="register-container">
        <h3>Registration Form</h3>
        <form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter email" [(ngModel)]="user.email" required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" #emailInput="ngModel" />
                <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error-message" style="color: red">
                    *Email is required and the format must be valid.
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter username" [(ngModel)]="user.username" required #usernameInput="ngModel" />
                <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="error-message" style="color: red">
                    *Username is required.
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password" [(ngModel)]="user.password" required pattern=".{8,}" #passwordInput="ngModel" />
                <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error-message" style="color: red">
                    *Password is required and must be at least 8 characters long.
                </div>
            </div>
            <div class="error-message" *ngIf="errorMessage" style="color: red">{{ errorMessage }}</div>
            <div>
                <button type="submit" [disabled]="!registrationForm.form.valid">Register</button>
            </div>
            <div class="question">
                Already have an account? <a routerLink="/login">Login</a>
            </div>
        </form>
    </div>
</div>
