header {
    background-color: #2980b9; /* Warna latar belakang header */
    color: #fff; /* Warna teks header */
    box-shadow: 0px 0px 8px #888888;
    /* padding: 10px; */
}

navbar {
    background-color: #2980b9;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff; /* Warna teks brand */
}

/* Content Styles */
.container {
    padding: 20px;
    margin-top: 20px;
}


.hamburger-menu {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #2980b9;
}

.hamburger-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 2;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2980b9!important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0px 0px 8px #888888;
}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon span {
    background: #f3e5f5;
}

.animated-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

thead th {
    background-color: #2980b9; /* Warna latar belakang header tabel */
    color: #fff; /* Warna teks header tabel */
}

  /* Styles for Table Rows */
tbody tr:nth-child(odd) td {
    background-color: #f2f2f2; /* Warna latar belakang baris ganjil */
}

  /* Hover Effect on Rows */
tbody tr:hover td {
    background-color: rgb(244, 228, 199); /* Warna latar belakang saat hover */
}

/* Menyesuaikan lebar kolom ENO */
#myTable th:nth-child(1),
#myTable td:nth-child(1) {
    width: 60px; /* Sesuaikan dengan lebar yang Anda inginkan */
    min-width: 60px; /* Pastikan lebar minimum */
    max-width: 60px; /* Pastikan lebar maksimum */
}