<!-- Header -->
<header>
    <nav class="navbar">
        <!-- Hamburger Menu Button -->
        <div class="hamburger-menu">
            <button class="hamburger-button" (click)="toggleNav()">
            <div class="animated-icon"><span></span><span></span><span></span></div>
            </button>
            <div id="mySidenav" class="sidenav">
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
            </div>
        </div>
        <!-- Navbar brand -->
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Employee Management App</a>
        </div>
    </nav>
</header>

<!-- Content -->
<div class="container">
    <div class="table-responsive">
        <table id="myTable" class="display table" width="100%">
            <thead>
            <tr>
                <th>No.</th>
                <th>EMPName</th>
                <th>Country</th>
                <th>Salary</th>
            </tr>
            </thead>
            <tbody>
            <!-- Isi tabel disini -->
                <tr>
                    <td>001</td>
                    <td>Anusha</td>
                    <td>India</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Charles</td>
                    <td>United Kingdom</td>
                    <td>28,000</td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>Sravani</td>
                    <td>Australia</td>
                    <td>7,000</td>
                </tr>
                <tr>
                    <td>004</td>
                    <td>Amar</td>
                    <td>India</td>
                    <td>18,000</td>
                </tr>
                <tr>
                    <td>005</td>
                    <td>Lakshmi</td>
                    <td>India</td>
                    <td>12,000</td>
                </tr>
                <tr>
                    <td>006</td>
                    <td>James</td>
                    <td>Canada</td>
                    <td>50,000</td>
                </tr>
                <tr>
                    <td>007</td>
                    <td>Ronald</td>
                    <td>US</td>
                    <td>75,000</td>
                </tr>
                <tr>
                    <td>008</td>
                    <td>Mike</td>
                    <td>Belgium</td>
                    <td>100,000</td>
                </tr>
                <tr>
                    <td>009</td>
                    <td>Andrew</td>
                    <td>Argentina</td>
                    <td>45,000</td>
                </tr>
                <tr>
                    <td>010</td>
                    <td>Stephen</td>
                    <td>Austria</td>
                    <td>30,000</td>
                </tr>
                <tr>
                    <td>011</td>
                    <td>Sara</td>
                    <td>China</td>
                    <td>750,000</td>
                </tr>
                <tr>
                    <td>012</td>
                    <td>JonRoot</td>
                    <td>Argentina</td>
                    <td>65,000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>